@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Playfair, sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: rgb(222, 163, 135, 0.8);
}

 /* headings and logo */

 h1, h2, h3 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
 }

 #logo {
    float: left;
    font-size: 260%;
    margin-left: 40px;
 }

 /* navigation links */

 #navbar {
    font-size: 135%;
    letter-spacing: 4px;
 }
 
#navbar, #logo {
    line-height: 80px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}
#navbar a:hover {
    border-bottom: 1px solid #000000;
}
.active {
    border-bottom: 1px solid #000000;
}

/* hero image and text */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2, #cover-text h3 {
    color: #000000;
}

#hero-image {
    height: 850px;
    width: 100%;
    background: url(' ../images/gastronomie.jpg') no-repeat center center;
    clear: left;
    background-size: cover;
    background-position: center;
}

#cover-text {
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 5px;   

    width: 450px;
    height: 130px;

    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;

    background-color: rgb(222, 163, 135, 0.8);
    bottom: 20px;
    right: 90px;

    position: absolute;
}


/* quotes */

#quotes, #quotes p {
    text-align: center;
    font-size: 1.4em;
    background-color: #fff;
}

/* footer */ 

footer {
    height: 150px;
    background-color: rgb(222, 163, 135);
}
footer > p {
    text-align: center;
    font-size: 115%;

}


.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;

}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 2%;
    color: #000000;
}
